@import "./button.css";
@import "./color-select.css";
@import "./dialog.css";
@import "./event-details.css";
@import "./event-list.css";
@import "./event.css";
@import "./fab.css";
@import "./form.css";
@import "./input.css";
@import "./mini-calendar.css";
@import "./nav.css";
@import "./month-calendar.css";
@import "./scroll.css";
@import "./select.css";
@import "./sidebar.css";
@import "./toaster.css";
@import "./week-calendar.css";
@import "./responsive.css";

* {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

background: #645bbd;
background: linear-gradient(0deg,rgba(100, 91, 189, 1) 0%, rgba(99, 118, 191, 1) 51%, rgba(158, 174, 222, 1) 99%);
font-size: 16px;
line-height: 1.5;
color: var(--color-text-dark);

}

:root{

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-2xl: 1.5rem;

    --line-height-xs: 1rem;
    --line-height-sm: 1.25rem;
    --line-height-lg: 1.75rem;
    --line-height-md: 1.5rem;
    --line-height-2xl: 2rem;

    --border-radius-md: 0.25rem;

    --duration-sm: 100ms;
    --duration-md: 300ms;
    --duration-2xl: 3000ms;

    --color-blue-50: #d6d4ff;
    --color-blue-500: #4f5db4;
    --color-blue-600: #303e9b;

    --color-red-500: #ef448e;
    --color-red-600: #bb2a51;

    --color-green-600: #169ea3;

    --color-gray-300: #7d77b9;
    --color-gray-100: #918eb8;
    --color-gray-400: #867ca3;
    --color-gray-500: #605977;
    --color-white: #b7b2f5;
    --color-black: #000000;

    --color-text-dark: #645bbd;
    --color-text-superdark: #1f1b43;
    --color-text-light: #ada4ff;

    --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);


}

.app{

height: 100vh;

}

.main{

display: flex;
flex-direction: column;
height: 100%;

}

.calendar{

height: 100%;

}

@media (min-width: 768px) {

.app {

grid-template-columns: auto 1fr;
display: grid;

}

}